@font-face {
    font-family: "Muli-Bold";
    src: url("./../assets/fonts/Muli-Bold.ttf");
    font-style: normal;
    font-weight: normal;
    display: swap;
}
@font-face {
    font-family: "Muli-Regular";
    src: url("./../assets/fonts/Muli-Regular.woff");
    font-style: normal;
    font-weight: normal;
    display: swap;
}
@font-face {
    font-family: "Muli-ExtraBold";
    src: url("./../assets/fonts/Muli-ExtraBold.woff");
    font-style: normal;
    font-weight: normal;
    display: swap;
}
@font-face {
    font-family: "Muli-BoldItalic";
    src: url("./../assets/fonts/Muli-BoldItalic.ttf");
    font-style: normal;
    font-weight: normal;
    display: swap;
}
@font-face {
    font-family: "Muli-Italic";
    src: url("./../assets/fonts/Muli-Italic.ttf");
    font-style: normal;
    font-weight: normal;
    display: swap;
}
@font-face {
    font-family: "Muli-Semi-BoldItalic";
    src: url("./../assets/fonts/Muli-Semi-BoldItalic.ttf");
    font-style: normal;
    font-weight: normal;
    display: swap;
}


ul {
    list-style: none;
    margin: 0;  
}
a {
    display: inline-block;
}
a:hover {
     text-decoration: none;
     color: inherit;
}
body{
    font-family: "Muli" sans-serif;  
}

.header {
    height: 100vh;
    background: url(../assets/images/backgrounds/main-img.png);
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__top {
    padding: 70px 100px  100px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav__list {
    border: 1px solid red;
    display: flex;
    font-weight: bold;
    color: white;
    font-family: Muli-Bold;
    font-size: 16px;
    letter-spacing: 0.32px;
    text-transform: uppercase;
}

.nav__list-item:last-child {
    margin-right: 0px;
}

.nav__list-item+.header__list-item {
    margin-left: 20px;
}

.nav__list-item:not(:last-child) {
    margin-right: 20px;
}

.nav__list-link {
      font-weight: 100;
    color: white;
}

.header__logo {
}
.logo {
}
.logo__link {
}
.logo__img {
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.header__personal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 135px;

}
.personal {
}
.personal__list {
    border: 1px solid red;
    display: flex;
}
.personal__list-item {
    display: inline-block;
    margin-left: 35px;
}
.personal__list-item :first-child {
    margin-left: 0px;
}
.personal__list-link {
}
.personal__list-img {
}
.header__social {
}
.social {
}
.social__list {
    border: 1px solid red;
    display: flex;
}
.social__list-item {
    display: inline-block;
    margin-left: 30px;
}
.social__list-item:first-child {
    margin-left: 0px;

}
.social__list-link {
    height: 35px;
    width: 35px;
    background-color: white; 
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

}
.social__list-img { 
}
.header-content {
    border: 1px solid red;
    display:flex;
    justify-content: center;
}
.header__btn {
    height: 70px;
    width: 280px;
    align-self: center;
    margin: 0 55px 0 0;
}

.btn {
    border-radius:35px;
    font-size: 24px;
    font-family: 'Muli-ExtraBold';
    padding: 0 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: -0.48px;
    color: white;
    line-height: 40px;
}

.btn--green {
    background-color: #0aa566;
}
.smoothies {
   padding: 100px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.smoothies__title {
    font-family: Muli-ExtraBold;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: #f7ae3b;
    margin: 0;
}
.title {
}

.smoothie__description {
    max-width: 915px;
    margin: 0 auto;
    font-family: Muli-Regular;
    font-size: 18px;
    text-align: center;
    color: #1e1e1e;
    margin-top: 55px;
    line-height: 1.94;

}
.smoothies__features {
    display: flex;
    flex-wrap: wrap;
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 90px;
}

.smoothie__name {
    margin: 0;
    width: 265px;
    height: 265px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.smoothie__icon-img {
    width: 70px;
    height: 70px;
  
}

.smothie__sub-title {
    margin: 30px;
    letter-spacing: -0.5px;
    font-family: 'Muli-ExtraBold';
    color: #f2612d;
}

.about {
    min-height: 100vh;
    background: url(../assets/images/backgrounds/third-section-img.png) no-repeat center/cover;
    display: flex;
    align-items: flex-start;
}

.about__img {
}

.about__box {
}

.about__title {
    margin-left: 142px;
    font-family: 'Muli-ExtraBold';
    max-width: 590px;
    font-size: 55px;
    color: white;
    line-height: 60px;
    letter-spacing: -1.1px;
}
.about__title--yellow{
 color: yellow;
}
.about__list {
    margin-left: 142px;
    font-size: 21px;
    line-height: 22px;
    color: white;
}
.about__list-item {
    margin: 30px;
    list-style-image: url(../assets/images/about/third-section-icon.png);
}

.about__text {
}

.about__text--bold{
    font-family: 'Muli-ExtraBold';
}

.about__text--small{
    font-family:'Muli-Regular';
}

.about__btn {
    background-color: transparent;
    border-color: #f8b231;
    margin-left: 142px;
    margin-top: 50px;
    height: 60px;
    width: 380px;
}

.btn-yellow-br {
}

.products {
    display: flex;
    justify-content: space-between;
}

.products__item {
}
.item {
}
.item__img {
    background: url(../assets/images/backgrounds/fourth-section-1-img.png);
}
.item__title {
}
.item__subtitle {
}
.products__btn {
}
.story {
}
.container {
}
.story__inner {
}
.story__title {
}
.story__text {
}
.story__btn {
}
.story__img {
}
.testimonials {
}
.testimonials__inner {
}
.testimonials__title {
}
.testimonials__title--big {
}
.testimonials__box {
}
.testimonials__quote {
}
.testimonials__cite {
}
.testimonials__img {
}
.testimonials__btn {
}
.blog {
}
.blog__wrapper {
}
.blog__box {
}
.blog__title {
}
.blog__img {
}
.blog__subtitle {
}
.blog__time {
}
.blog__text {
}
.blog__link {
}
.instagram {
}
.instagram__inner {
}
.instagram__pict {
}
.instagram__img {
}
.instagram_img {
}
.footer {
}
.footer__top {
}
.footer__logo {
}
.footer__info {
}
.info {
}
.footer__title {
}
.info__list {
}
.info__list-item {
}
.footer__payment {
}
.payment {
}
.footer__payment-title {
}
.payment__img {
}
.footer__subscribe {
}
.subscribe {
}
.subscribe__title {
}
.subscribe__form {
}
.subscribe__input {
}
.subscribe__exerpt {
}
.subscribe__box-link {
}
.subscribe__img {
}
.footer__bottom {
}
.footer__box-exerpt {
}
.uplink {
}