@font-face {
    font-family: "Muli-Bold";
    src: url("../assets/fonts/Muli-Bold.ttf");
    font-style: normal;
    font-weight: normal;
    display: swap;
}
@font-face {
    font-family: "Muli-Regular";
    src: url("../assets/fonts/Muli-Regular.woff");
    font-style: normal;
    font-weight: normal;
    display: swap;
}
@font-face {
    font-family: "Muli-ExtraBold";
    src: url("../assets/fonts/Muli-ExtraBold.woff");
    font-style: normal;
    font-weight: normal;
    display: swap;
}
@font-face {
    font-family: "Muli-BoldItalic";
    src: url("../assets/fonts/Muli-BoldItalic.ttf");
    font-style: normal;
    font-weight: normal;
    display: swap;
}
@font-face {
    font-family: "Muli-Italic";
    src: url("../assets/fonts/Muli-Italic.ttf");
    font-style: normal;
    font-weight: normal;
    display: swap;
}
@font-face {
    font-family: "Muli-Semi-BoldItalic";
    src: url("../assets/fonts/Muli-Semi-BoldItalic.ttf");
    font-style: normal;
    font-weight: normal;
    display: swap;
}


ul {
    list-style: none;
    margin: 0;  
}
a {
    display: inline-block;
}
a:hover {
     text-decoration: none;
     color: inherit;
}
body{
    font-family: "Muli" sans-serif;  
}

.header {
    height: 100vh;
    background: url(../assets/images/backgrounds/main-img.png) no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1700px;
    margin: 0 auto;
}

.header__wrapper{
    display: flex;
    flex-direction: column;
}

.header__top {
    padding: 70px 100px  100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__nav{
    text-decoration: none;
}

.nav__list {
    display: flex;
    font-weight: bold;
    color: white;
    font-family: Muli-Bold;
    font-size: 16px;
    letter-spacing: 0.32px;
    text-transform: uppercase;
}

.nav__list-item:last-child {
    margin-right: 0px;
}

.nav__list-item+.header__list-item {
    margin-left: 20px;
}

.nav__list-item:not(:last-child) {
    margin-right: 20px;
}

.nav__list-link {
      font-weight: 100;
    color: white;
    text-decoration: none;
}

.header__logo {
}
.logo {
}
.logo__link {
}
.logo__img {
}

.header__inner{
    display: flex;
    justify-content: space-between;
}
.header__personal {
    display: flex;
    justify-content: space-between;
    margin-right: 135px;

}
.personal {
}
.personal__list {
    display: flex;
}

.personal__list-item {
    display: inline-block;
    margin-left: 45px;
}
.personal__list-item :first-child {
    margin-left: 0px;
}
.personal__list-link {
}

.personal__item--cart{
    width: 6px;
    height: 7px;
    font-family: 'Muli-Regular';
    font-size: 10px;
    line-height: 4;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
}
}

.personal__list-img {
}
.header__social {
}
.social {
}
.social__list {
    display: flex;
}
.social__list-item {
    display: inline-block;
    margin-left: 30px;
}
.social__list-item:first-child {
    margin-left: 0px;

}
.social__list-link {
    height: 35px;
    width: 35px;
    background-color: white; 
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

}
.social__list-img { 
}
.header-content {
    display:flex;
    justify-content: center;
}

.header__btn {
    height: 70px;
    width: 280px;
    align-self: center;
    margin: 0 55px 0 0;
    line-height: 1.67;
    letter-spacing: -0.48px;
}

.btn {
    border-radius: 30px;
    font-size: 24px;
    font-family: 'Muli-ExtraBold';
    padding: 0 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.btn--green {
    background-color: #0aa566;
}
.smoothies {
   padding: 100px 0;
  /* display: flex;
   flex-direction: column;
   align-items: center;*/
}

.smoothies__title {
    font-weight: 800;
    text-align: center;
    margin: 0;
}
.title--orange {
    font-family: Muli-ExtraBold;
    font-size: 50px;
    line-height: 0.8;
    letter-spacing: -1px;
    color: #f7ae3b;
}
.title--white {
    font-family: 'Muli-ExtraBold';
    color: white;
}

.smoothie__text {
    max-width: 915px;
    margin: 0 auto;
    text-align: center;
    margin-top: 55px;
}

.text--black {
    font-family: Muli-Regular;
    font-size: 18px;
    line-height: 1.94;
}

.smoothies__features {
    display: flex;
    flex-wrap: wrap;
    max-width: 1070px;
    gap: 2px;
    margin: 88px auto 0 auto;
    background-color: #f6edde
}

.smoothie__name {
    margin: 0;
    width: calc(25% - 1.5px);
    height: 265px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.smoothie__icon-img {
    width: 70px;
    height: 70px;
  
}

.smothie__sub-title {
    margin: 30px;
    letter-spacing: -0.5px;
    font-family: 'Muli-ExtraBold';
    color: #f2612d;
}

.about {
    background: url(../assets/images/backgrounds/third-section-img.png) no-repeat center/cover;
    display: flex;
    justify-content: center;
}

.about__img {
}

.about__box {
    margin-left: 142px;
}

.about__title {
    max-width: 590px;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -1.1px;
}
.about__title--yellow{
 color: yellow;
}
.about__list {
    font-size: 21px;
    line-height: 22px;
    color: white;
}
.about__list-item {
    margin: 30px;
    list-style-image: url(../assets/images/about/third-section-icon.png);
}

.about__text {
}

.about__text--bold{
    font-family: 'Muli-ExtraBold';
}

.about__text--small{
    font-family:'Muli-Regular';
}

.about__btn {
    background-color: transparent;
    border-color: #f8b231;
    margin-top: 50px;
    min-height: 60px;
    min-width: 380px;
}

.btn-yellow-br {
}

.products {
    display: flex;
}

.products__item {
}
.item--chocolate {
    background: url(../assets/images/backgrounds/chocolate-img.png);
    width: 25%;
    height: 720px;
}
.item--vegan {
    background: url(../assets/images/backgrounds/vegan-img.png);
     width: 25%;
}
.item--lemon {
    background: url(../assets/images/backgrounds/lemon-img.png);
     width: 25%;
}
.item--turmeric {
    background: url(../assets/images/backgrounds/turmeric-img.png);
     width: 25%;
}

.item__img {
    margin-left: 177px;
    margin-top: 129px;
}

.item__title {
    margin-left: 95px;
    font-family: 'Muli-Bold';
    font-size: 24px;
    line-height: 0.92;
    color: #ffffff;
}

.item__subtitle--chocolate {
    margin-left: 200px;
    font-style: italic;
    font-size: 21px;
    line-height: 1.52;
    color: white;
}
.item__subtitle--vegan {
    margin-left: 200px;
    font-style: italic;
    font-size: 21px;
    line-height: 1.52;
    color: white;
}
.item__subtitle--lemon {
    margin-left: 200px;
    font-style: italic;
    font-size: 21px;
    line-height: 1.52;
    color: white;
}
.item__subtitle--turmeric {
    margin-left: 200px;
    font-style: italic;
    font-size: 21px;
    line-height: 1.52;
    color: white;
}

.products__btn {
    width: 204px;
    height: 60px;
    font-size: 21px;
    margin: 65px 0px 0px 138px;
    padding: 22px 36px 18px;
    border: solid 2px;
    background-color: transparent;
}

.story {
}

.story__inner {
    display: flex;
    justify-content: center;
}

.story__title {
    padding-top: 260px; 
    font-weight: 800;
}

.story__text {
    max-width: 511px;
    padding-top: 43px;
    font-family: 'Muli-Regular';
    font-size: 18px;
    line-height: 1.94;
}

.story__btn {
    min-width: 301px;
    min-height: 60px;
    margin-top: 60px;
}

.story__img {
    margin: 120px 0px 0px 206px; 
}

.testimonials {
    padding: 100px 0;
    background: url(../assets/images/backgrounds/fifth-section-img.png);
}
.testimonials__inner {
}

.testimonials__title {
     text-align: center;
    padding:0 157px 84px 317px;
    font-size: 50px;
    line-height: 0.8;
    letter-spacing: -1px;
    color: #f7ae3b;
}

.testimonials__title--big {
    color: #f2612d;
}
.testimonials__wrapper {
    display: flex;
    justify-content: center;
}

.testimonials__box{
    min-height: 130px;
    margin-right: 60px;
}

.testimonials__quote {
    display: block;
    font-family: 'Muli-Regular';
    font-size: 18px;
    line-height: 1.94;
    max-width: 455px;
    color: white;
}

.testimonials__cite {
    font-family: 'Muli-SemiBoldItalic';
    font-size: 18px;
    line-height: 2.5;
    color: #f7ae3b;
}
.testimonials__img {
}
.testemonials__control{
    display: flex;
    justify-content: center;
}

.testimonials__btn {
    width: 30px;
    height: 16px;
    background-color: #fcb438;
}
}
.blog {
}
.blog__wrapper {
    display: flex;
    justify-content: center;
}

.blog__box {
}
.blog__title {
    margin: 99px 82px 49px 360px;
}

.blog__img {
    margin: 49px 42px 200px 360px;
}

.blog__discription{
    padding-top: 316px;
}

.blog__subtitle {
    margin: 50px 21px 20px 16px;
    font-family: 'Muli-ExtraBold';
    font-size: 30px;
    line-height: 1.33;
    letter-spacing: -0.6px;
    color: #f2612d;
}

.blog__time {
    margin: 20px 82px 45px 16px;
    font-family: 'Muli-Regular';
    font-size: 16px;
    line-height: 2.19;
    color: #1e1e1e;
}

.blog__text {
    padding: 30px 420px 225px 50px;
}

.blog__exerpt {
   
}

.blog__link {
    font-weight: 800;
    font-family: 'Muli-Italic';
}

.instagram {
}
.instagram__inner {
}
.instagram__pict {
}
.instagram__img {
}
.instagram_img {
}
.footer {
}
.footer__top {
}
.footer__logo {
}
.footer__info {
}
.info {
}
.footer__title {
}
.info__list {
}
.info__list-item {
}
.footer__payment {
}
.payment {
}
.footer__payment-title {
}
.payment__img {
}
.footer__subscribe {
}
.subscribe {
}
.subscribe__title {
}
.subscribe__form {
}
.subscribe__input {
}
.subscribe__exerpt {
}
.subscribe__box-link {
}
.subscribe__img {
}
.footer__bottom {
}
.footer__box-exerpt {
}
.uplink {
}