@import './abstracts/vars';


@font-face {
    font-family: "Muli-Bold";
    src: url("../fonts/Muli-Bold.ttf");
    font-style: normal;
    font-weight: normal;
    display: swap;
}
@font-face {
    font-family: "Muli-Regular";
    src: url("../fonts/Muli-Regular.woff");
    font-style: normal;
    font-weight: normal;
    display: swap;
}
@font-face {
    font-family: "Muli-ExtraBold";
    src: url("../fonts/Muli-ExtraBold.woff");
    font-style: normal;
    font-weight: normal;
    display: swap;
}
@font-face {
    font-family: "Muli-BoldItalic";
    src: url("../fonts/Muli-BoldItalic.ttf");
    font-style: normal;
    font-weight: normal;
    display: swap;
}
@font-face {
    font-family: "Muli-Italic";
    src: url("../fonts/Muli-Italic.ttf");
    font-style: normal;
    font-weight: normal;
    display: swap;
}
@font-face {
    font-family: "Muli-Semi-BoldItalic";
    src: url("../fonts/Muli-Semi-BoldItalic.ttf");
    font-style: normal;
    font-weight: normal;
    display: swap;
}

@import './base/normalize';

ul {
    list-style: none;
    margin: 0;  
}
a {
    display: inline-block;
}
a:hover {
     text-decoration: none;
     color: inherit;
}
body{
    font-family: "Muli" sans-serif;  
    color: #fff;
}

@import './layout/header';
@import './layout/container';
@import './layout/navigation';
@import './components/personal';
@import './components/social';
@import './components/button';
@import './blocks/smoothie';
@import './components/title';
@import './components/text';
@import './blocks/about';
@import './blocks/products';
@import './components/item';
@import './blocks/story';
@import './blocks/testimonials';
@import './blocks/blog';
@import './blocks/instagram';
@import './layout/footer';
@import './layout/info';
@import './components/payment';
@import './components/subscribe';
@import './components/uplink';












