.instagram__title {
    max-width: 182px;
    margin: 0 auto;
    text-align: center;
    padding-left: 40px;
    margin-bottom: 45px;
    font-family: "Muli-Bold";
    font-size: 24px;
    line-height: 1.67;
    letter-spacing: -0.48px;
    color: #0aa566;
    position: relative;
}

.instagram__title::after {
    content: "";
    width: 26px;
    height: 26px;
    background: url('./../images/instagram/green-Icon-inst.png');
    display: block;
    position: absolute;
    top: 63%;
    left: 0;
    transform: translateY(-50%)
}

.instagram__inner {
    display: flex;
}

.instagram__pict {
    width: 20%;
    position: relative;
}

.instagram__pict::after {
    content: "";
    width: 26px;
    height: 26px;
    background: url('./../images/instagram/limpid-Icon-inst.png');
    position: absolute;
    bottom: 25px;
    right: 20px;
}


.instagram__img {
    width: 100%;
    height: 100%;
}