.smoothie {
    padding: 100px 0;
   

    &__title {
        font-weight: 800;
        text-align: center;
        margin: -5px 0 0 10px;
    }
   
    &__text {
       max-width: 915px;
       margin: 0 auto;
       text-align: center;
        margin-top: 45px;
   }
   
   &__features {
       display: flex;
       flex-wrap: wrap;
       max-width: 1070px;
       gap: 2px;
       margin: 88px auto 0 auto;
       background-color: #f6edde
   }
   
   &__name {
       margin: 0;
       width: calc(25% - 1.5px);
       height: 265px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       background-color: #fff;
   }
   
   &__icon-img {
       width: 70px;
       height: 70px;
          
   }
   
   &__sub-title {
       margin: 30px;  
       font-size: 25px;
       line-height: 1.6;             
       letter-spacing: -0.5px;
       font-family: "Muli-ExtraBold";
       color: #f2612d;
   }
 }
 
 @media screen and (max-width: 768px) {
    .smoothie__title {
        display: flex;
        justify-content: center;
    }
    .smoothie__text {
        display: flex;
        margin: 0 auto;
        margin-top: 45px;
    }
    .smoothie__name {
        width: calc(50% - 2px);
    }
 }
