.story {
    padding: 120px 0;

    &__inner {
        display: flex;
        justify-content: center;
    
        .story__box{
            position: relative;

        &::after{
            content: "";
            width: 290px;
            height: 216px;
            background: url('./../images/story/Stamp.png');
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(10%, 10%);
        }
    }

    }
        
    &__title {
        padding-top: 140px; 
        font-weight: 800;
    }
    
    
    &__text {
        max-width: 511px;
        padding-top: 43px;
    }
    
    &__btn {
        min-width: 301px;
        min-height: 60px;
        margin-top: 60px;
        position: relative;

        &::after {
            content: "";
            width: 30px;
            height: 16px;
            background: url('./../images/testemonials/right-arrow.png');
            position: absolute;
            top: 25px;
            right: 40px;
        }
    }
    
    
    &__img {
        margin-left: 205px;
    }
}


@media screen and (max-width: 768px) {
    .story__inner{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .story__wrapper {
        margin: 0 30px 40px;
    }
        .story__box{
            position: relative;

        &::after{
            position: absolute;
        }
    }

}


