.btn {
    border-radius: $btnBorderRadius;
    font-size: 21px;
    font-family: "Muli-ExtraBold";
    padding: 0 38px;
    text-align: left;
    line-height: 1.05;
    color: white;
    &:hover {
        &::after{
            transform: translateX(10px);
            }
    }
    &--green {
        background-color: $buttonColor;
        border: transparent;
       
    }
  
    
    &-yellow-br {
        background-color: transparent;
        border-color: #f8b231;
    }
}



