.payment {

    &__images{
        max-width: 230px;
        gap: 15px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        &__img {
            padding-bottom: 10px
        }
    }
    }
    
 
