.social {

    &__list {
        display: flex;
    }
    &__list-item {
        display: inline-block;
        margin-left: 14px;
    }
    &__list-item:first-child {
        margin-left: 0px;
    
    }
    &__list-link {
        height: 35px;
        width: 35px;
        background-color: white; 
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}


