.title {
    font-family: "Muli-ExtraBold";
    font-size: 50px;
    line-height: 0.8;
    letter-spacing: -1px;

    &--orange {
        color: #f7ae3b;
    }
    
    &--white {
        color: white;
    }
    &--yellow{
        color: yellow;
    }
}

