.footer {
    background: url('./../images/backgrounds/footer-img.png');
    padding-top: 45px;


    &__top {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__logo {
        // margin:60px 0 0 100px;
        width: 25%;
        padding-top: 65px;
    }
    
    &__info {
        // margin:0 0 110px 75px;
        width: 25%;
    }
    
    &__title {
        margin:0 0 35px 0;
        font-family: "Muli-ExtraBold";
        font-size: 26px;
        line-height: 1.54;
        letter-spacing: -0.52px;
    }
    
    &__payment {
        width: 25%;
        padding-bottom: 95px;
    }
    
    &__subscribe {
        width: 25%;
    }
    
    &__wrapper{
        display: flex;
        justify-content: center;
        background: url('./../images/backgrounds/footer2-img.png');
        position: relative;

        &::after {
            content: "Go top";
            font-family: "Muli-Bold";
            font-size: 16px;
            color: #ffffff;
            position: absolute;
            top: 30px;
            right: 170px;
        } 
    }
    
    &__box-exerpt {
        margin: 26px 0 21px 0;
        font-family: "Muli-Regular";
        font-size: 13px;
        line-height: 2.69;
        letter-spacing: 0.26px;
        color: #af8a82;
    }
}

@media screen and (max-width: 768px) {
    
    .footer__logo {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 40px
    }
    .footer__info {
        width: 50%;
        margin: 0 auto;
        padding: 0px 0 70px 80px;
    }
    .footer__payment {
        width: 50%;
        padding: 0 0px 0 30px;
    }
    .footer__subscribe {
        width: 100%;
        padding: 0px 0 70px 80px;
    }
    .subscribe__img:first-child {
        margin-right: 25px;
    }

    }
