.footer {
    background: url('./../images/backgrounds/footer-img.png');

    &__top {
        display: flex;
    }
    
    &__logo {
        margin: 133px 0 182px 103px;
    }
    
    &__info {
        margin-left: 275px
    }
    
    &__title {
        margin: 80px 0 35px 0;
        font-family: "Muli-ExtraBold";
        font-size: 26px;
        line-height: 1.54;
        letter-spacing: -0.52px;
    }
    
    &__payment {
        margin-left: 160px;
    }
    
    &__subscribe {
        margin-left: 175px
    }
    
    &__wrapper{
        display: flex;
        justify-content: center;
        background: url('./../images/backgrounds/footer2-img.png');
        position: relative;

        &::after {
            content: "Go top";
            font-family: "Muli-Bold";
            font-size: 16px;
            color: #ffffff;
            position: absolute;
            top: 30px;
            right: 170px;
        } 
    }
    
    &__box-exerpt {
        margin: 26px 0 21px 0;
        font-family: "Muli-Regular";
        font-size: 13px;
        line-height: 2.69;
        letter-spacing: 0.26px;
        color: #af8a82;
    }
}
