.header {
    height: 100vh;
    background: url(../assets/images/backgrounds/main-img.png) no-repeat;
    background-position: center;
    background-size: cover;
 
}

.header__top {
    position: relative;
    padding: 70px 0 0 0;
    margin: 0 0 100px 0;
}

.header__burger-btn {
    width: 50px;
    position: fixed;
    top: 50px;
    left: 650px;
    display: none; 
    z-index: 99999;
}

.header__burger-btn--img{
    width: 100%;
}


.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav{
    text-decoration: none;
}

.header__logo {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}


.header__inner{
    display: flex;
}

.header__personal{
    position: relative;
}

.header__personal::after {
   content: "";
   height: 2px;
   width: 48px;
   background-color: white;
   opacity: 0.3;
   display: block;
    position: absolute;
    top: 33px;
    right: -10px;
}

.header__content {
    display:flex;
    justify-content: center;
}

.header__btn {
    font-size: 24px;
    height: 70px;
    width: 280px;
    align-self: center;
    line-height: 1.67;
    letter-spacing: -0.48px;
    position: relative;
}

.header__btn::after {
    content: "";
    width: 30px;
    height: 16px;
    background: url(../assets/images/testemonials/right-arrow.png);
    position: absolute;
    top: 30px;
    right: 40px;
}

@media screen and (max-width: 768px) { 
.header__navigation {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: teal;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-top: 150px;
}  
.header__burger-btn {
    display: block;
    border: none;
}
.header__inner {
    margin-bottom: 100px;
}

}