.header {
    height: 100vh;
    background: url('./../images/backgrounds/main-img.png') no-repeat;
    background-position: center;
    background-size: cover;

    &__top {
        position: relative;
        padding: 85px 95px 127px;
    }
    
    &__burger-btn {
        width: 50px;
        position: fixed;
        top: 50px;
        left: 650px;
        display: none; 
        z-index: 99999;
    }
    
    &__burger-btn--img{
        width: 100%;
    }
    
    
    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__nav{
        text-decoration: none;
    }
    
    &__logo {
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    
    &__inner{
        display: flex;
        align-items: center;
    }
    
    &__personal{
        position: relative;
        
        &::after {
            content: "";
            height: 2px;
            width: 48px;
            background-color: white;
            opacity: 0.3;
            display: block;
             position: absolute;
             top: 50%;
             right: 38px;
         }
    }
    
    &__content {
        display:flex;
        justify-content: center;
    }
    
    &__btn {
        font-size: 24px;
        height: 70px;
        width: 280px;
        align-self: center;
        line-height: 1.67;
        letter-spacing: -0.48px;
        position: relative;

        &::after {
            content: "";
            width: 30px;
            height: 16px;
            background: url('./../images/testemonials/right-arrow.png');
            position: absolute;
            top: 30px;
            right: 40px;
        }
    }
    
}



@media screen and (max-width: 768px) { 
.header__navigation {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: teal;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-top: 150px;
}  
.header__burger-btn {
    display: block;
    border: none;
    z-index: 99999;
}
.header__inner {
    margin-bottom: 100px;
}

}

